{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" >
    {% block head_extra %}{% endblock %}
</head>
<body>
<header>
    {% block header %}{% endblock %}
</header>
<div class="main-contents col-md-12">

    {% block contents %}{% endblock %}

</div>
<script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%}"></script>
{% block js_extra %}{% endblock %}
</body>
</html>